@import 'css/variables.css';
@import 'css/layout.css';
@import 'css/panels.css';
@import 'css/tabs.css';
@import 'css/controls.css';
@import 'css/chords.css';
@import 'css/sequencer.css';
@import 'css/presets.css';
@import 'css/modals.css';
@import 'css/components.css';
@import 'css/visualizer.css';